body {
    text-align: center;
    background-color: rgb(211,188,141);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

canvas {
    border: solid;
    border-color: black;
    border-radius: 10px;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color:black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}

button:hover {
    background-color:grey
}

h1{
 color: black;
 margin-left: 10px;
 text-align: center;
}